@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
/* font-family: 'Noto Sans JP', sans-serif; */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  color: #0f0f0f;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

h1, h2, h3 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0; /* Top and bottom margin */
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #367096;
  background: -moz-linear-gradient(180deg, rgba(54,112,150,1) 0%, rgba(143,219,197,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(54,112,150,1) 0%, rgba(143,219,197,1) 100%);
  background: linear-gradient(180deg, rgba(54,112,150,1) 0%, rgba(143,219,197,1) 100%);
}

.text-primary {
  color: #DBFFD3;
}

.text-bold {
  font-weight: 700;
  word-spacing: 0.15em;
}

.title-border {
  padding: 0.25em;
  border-bottom: 2px solid #DBFFD3;
}

.ts-3 {
  font-size: 2.5em;
}

hr {
  border: 1px solid #0f0f0f;
}

/* QUOTES STYLES */

#quote-box {
  width: 575px;
  min-height: 300px;
  background-color: #64ADC4;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

#author {
  font-style: italic;
  font-size: 0.9em;
  margin-top: 1.5em;
  text-align: center;
}

#text {
  font-weight: 700;
}

#text::before,
#text::after {
  content: "\""
}